<div class="row">
	<div class="col-xs-12">
		<div id="container" style="height: 400px; min-width: 310px"></div>
		<div
			style="position: relative; top: -41px; float: right; left: -90px;">
			<!-- <a title="Replay" href="javascript:void(0)" ng-click="redraw()"
				style="position: relative; left: -19px; top: 1px;"> <i
				class="fa fa-play-circle-o" aria-hidden="true"
				style="font-size: 18px; color: #9f8383;"></i>
			</a> --> <a title="Online" href="javascript:void(0)"
				style="position: relative; left: -10px;" ng-if="online"> <span
				style="font-weight: 600; color: #2eb82e;">Online</span> <i
				class="fa fa-circle-o faa-burst animated fa-bold faa-fast"
				style="color: #2eb82e; font-size: 18px;"></i>
			</a> <a title="Online" href="javascript:void(0)" ng-if="!online"> <span
				style="font-weight: 600; color: #ba0808;">Offline</span> <i
				class="fa fa-stop-circle-o" style="color: #ba0808; font-size: 18px;"></i>
			</a>
		</div>
		<div class="graff-main" >
			<div class="graff-links">
				<a href="#" class="info overlay"
					data-overlay="/features/charts/about-data">About This Data</a> <a
					href="#" class="download overlay"
					data-overlay="/features/charts/download-data">Download Energy
					Use Data</a>
			</div>
			<div ng-include="'views/notification-tab-common.html'">
			</div>
		</div>
		<button data-toggle="collapse" data-target="#pulse">Toggle Test Area</button>

<div id="pulse" class="collapse">
<div style="background-color: burlywood; height: 150px">
	<h4><b>Energy Pulse Test Area</b></h4>
			<div>
				<div class="col-xs-2">
					Last Online Time : {{lastOnlineTime*1000 | date:"mediumTime"}} <br>
					Refresh in <span style="font-weight: 700;">{{counter||0}} </span>Sec.
					<br> Refresh Rate <input type="text" style="width: 30%"
						value="" ng-model="refreshRate" /> Sec. 
						<br> Data Interval  <input type="text" style="width: 30%"
						value="" ng-model="interval" /> Sec.
						<br><input style="width: 50%"
						type="button" value="Apply(Replot)" ng-click="fetchInitialUsageData()" /> <br> 
				</div>
				<div class="col-xs-3">
					<span> Last refresh data</span><br> <b>Time : </b>{{lastRefreshData.endDate
					| date : "mediumTime"}}<br> <b>Energy : </b>{{lastRefreshData.delivered}}
					Kwh<br> <b>Price : </b>{{lastRefreshData.price}} cent <br>
					<b> Last Query String</b> : {{queryString}}
				</div>
				<div class="col-xs-3">
				<input
						type="checkbox" value="" ng-click="toggleToken()"> Make
					data unavailable<br>
					<span>Data Unavailable At</span><br>
					<p
						ng-repeat="data in apiFailure | orderBy : 'time' : true | limitTo : 4">
						<b>Time : </b>{{(data.time*1000) | date : "mediumTime"}} <b>API
							Status : </b>{{data.statusText}}<br>
					</p>
				</div>
				<div class="col-xs-4">
					Client Token<input style="width: 60%" type="text" value=""
				ng-model="clientToken" /> <input style="width: 20%" type="button"
				value="Apply(Replot)" ng-click="fetchInitialUsageData()" /><br>
				<span>CPP check</span>
			<input type="checkbox" value="" ng-model="criticalZone"
				ng-click="init()"><br>CPP Start Time<input
						type="checkbox" value="" ng-disabled="!criticalZone" ng-model="cppTime" ng-click="init()">
			<div class="col-xs-6 input-group bootstrap-timepicker timepicker">
				<input id="timepicker1" ng-disabled="!criticalZone || !cppTime" ng-model="criticalStartTime.value"
					type="text" ng-change="init()" class="form-control input-small"> <span
					class="input-group-addon"><i
					class="glyphicon glyphicon-time"></i></span>
			</div>
				</div>
			</div>
		</div>
</div>
	
</div>