<div ng-if="vm.isMobile()" class="info-bar">
	<div class="col-xs-6">
		<span style="font-weight: bold; font-size: x-large;">Download
			Mobile App for Pilot Program </span>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-3">
			<img style="max-width: 200%" src="/img/google-play-badge.png" />
		</div>
		<div class="col-xs-3 col-xs-offset-4">
			<img style="max-width: 172%" src="/img/IOS_App_Store_Badge_(En).png" />
		</div>
	</div>
</div>

<div>
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab"
			href="javascript:void(0);#home">ENERGY PULSE</a></li>
		<li><a data-toggle="tab" href="javascript:void(0);#menu1">SMART
				MONITOR</a></li>
	</ul>
</div>
<div class="tab-content">
	<div id="home" class="tab-pane fade in active">
		<div ui-view="energyPulse@energy"></div>
	</div>
	<div id="menu1" class="tab-pane fade">
		<div ui-view="smartMonitor@energy"></div>
	</div>
</div>

<div style="background-color: burlywood; height: 200px">
	<h3>Test Area</h3>
	<div>
		<div class="col-xs-4">
			<a title="Stacked View" href="javascript:void(0)"><span
				style="font-weight: 600; color: #205b93;"><input
					type="checkbox" value="" ng-model="loadFull" ng-click="reload()">Load
					Full Chart</span> </a><br> <a title="Stacked View"
				href="javascript:void(0)"><span
				style="font-weight: 600; color: #205b93;"><input
					type="checkbox" value="" ng-model="online" ng-click="reload()">
					Online</span> </a> <br>
			Client Token<input style="width: 60%" type="text" value=""
				ng-model="clientToken" /> <input style="width: 20%" type="button"
				value="Apply" ng-click="reload()" />
					
		</div>
		<div class="col-xs-3">
			<span>Critical Zone Start Time</span>
			<input type="checkbox" value="" ng-model="criticalZone"
				ng-click="reload()">
			<div class="input-group bootstrap-timepicker timepicker">
				<input id="timepicker1" ng-model="criticalStartTime.value"
					type="text" class="form-control input-small"> <span
					class="input-group-addon"><i
					class="glyphicon glyphicon-time"></i></span>
			</div>
		</div>

		<div class="col-xs-2">
			<span>Smart Monitor Device Selector</span> <select name="device"
				ng-model="deviceCount" ng-change="reload()">
				<option value="3" selected>3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select><br>
			<a title="Stacked View" href="javascript:void(0)"
				style="position: relative; left: -10px;"><span
				style="font-weight: 600; color: #205b93;"><input
					type="checkbox" value="" ng-model="stacked" ng-click="reload()">Stacked
					View</span> </a>
		</div>

		<div class="col-xs-3">
			Refresh in <span style="font-weight: 700;">{{counter||0}} </span>Sec.
			<br>
			Refresh Rate <input type="text" style="width: 10%" value=""
				ng-model="refreshRate" /> Sec. <input style="width: 20%"
				type="button" value="Apply" ng-click="reload()"/>
				<br>
			<span> Last refresh data</span><br>
			<b>Time : </b>{{lastRefreshData.endDate | date : "mediumTime"}}<br>
			<b>Energy : </b>{{lastRefreshData.delivered}} Kwh<br>
			<b>Price : </b>{{lastRefreshData.price}} cent
		</div>
	</div>
</div>
