<div ng-if="vm.isMobile()"> Mobile Device</div>

<div>
<a title="Stacked View" href="javascript:void(0)"><span
	style="font-weight: 600; color: #205b93;"><input type="checkbox"
		value="" ng-model="loadFull" ng-click="reload()">Load Full Chart</span> </a>
</div>

<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab"
		href="javascript:void(0);#home">ENERGY PULSE</a></li>
	<li><a data-toggle="tab" href="javascript:void(0);#menu1">SMART
			MONITOR</a></li>
</ul>
<div class="tab-content">
	<div id="home" class="tab-pane fade in active">
		<div ui-view="energyPulse@energy"></div>
	</div>
	<div id="menu1" class="tab-pane fade">
		<div ui-view="smartMonitor@energy"></div>
	</div>
</div>
