<div class="col-xs-12">
			<div id="smartMonitor_container" style="height: 400px; min-width: 310px"></div>
			<div style="position: relative;top: -41px;float: right;left: -90px;">
				<!-- <a title="Replay" href="javascript:void(0)" ng-click="redraw()" style="position: relative;left: -19px;top: 1px;" >
					<i class="fa fa-play-circle-o" aria-hidden="true"
					style="font-size: 18px; color: #9f8383;"></i>
				</a>  -->
				<a title="Online" href="javascript:void(0)"
					style="position: relative; left: -10px;"> <span
					style="font-weight: 600; color: #2eb82e;">Online</span> <i
					class="fa fa-circle-o faa-burst animated fa-bold faa-fast"
					style="color: #2eb82e; font-size: 18px;"></i>
				</a> 
				<a title="Online" href="javascript:void(0)"> <span
					style="font-weight: 600; color: #ba0808;">Offline</span> <i
					class="fa fa-stop-circle-o"
					style="color: #ba0808; font-size: 18px;"></i>

				</a>
			</div>
			<div class="col-md-offset-2 col-md-8 col-xs-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th></th>
							<th ng-repeat="o in outlet"><i class="fa fa-plug" aria-hidden="true"></i> {{o.name}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Current Demand</th>
							<td ng-repeat="o in outlet">{{ o.currentDemand*1000 | number:2}} watts <i
								ng-class="o.zOutlet.increasedDemand ? 'fa-arrow-up' : 'fa-arrow-down'"
								class="fa" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<th>Today's Cost up to now</th>
							<td ng-repeat="o in outlet">&cent; {{ o.zOutlet.cost | number:2}}</td>
						</tr>
						<tr>
							<th>Yesterday's Cost</th>
							<td ng-repeat="o in outlet">&cent; {{ o.yesterDayCost | number:2}}</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>