<div class="row">
	<div class="col-xs-12">
		<div id="smartMonitor_container"
			style="height: 400px; min-width: 310px"></div>
		<div style="position: relative; top: -55px; float: right; left: -1%;">
			<!-- <a title="Replay" href="javascript:void(0)" ng-click="redraw()" style="position: relative;left: -19px;top: 1px;" >
					<i class="fa fa-play-circle-o" aria-hidden="true"
					style="font-size: 18px; color: #9f8383;"></i>
				</a>  -->
			<a title="Online" href="javascript:void(0)"
				style="position: relative; left: -13%;" ng-if="online"> <span
				style="font-weight: 600; color: #2eb82e;">Online</span> <i
				class="fa fa-circle-o faa-burst animated fa-bold faa-fast"
				style="color: #2eb82e; font-size: 18px;"></i>
			</a> <a title="Offline" href="javascript:void(0)"
				style="position: relative; left: -10%;" ng-if="!online"> <span
				style="font-weight: 600; color: #ba0808;">Offline</span> <i
				class="fa fa-stop-circle-o" style="color: #ba0808; font-size: 18px;"></i>

			</a> <!-- <a title="Stacked View" href="javascript:void(0)"
				style="position: relative; left: -10px;"><span
				style="font-weight: 600; color: #205b93;"><input
					type="checkbox" value="" ng-model="stacked"
					ng-click="redraw(stacked)">Stacked View</span> </a> -->
		</div>
		<div class="col-md-offset-2 col-md-8 col-xs-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th></th>
						<th ng-repeat="o in outlet"><i class="fa fa-plug"
							aria-hidden="true"></i> {{o.name}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Current Demand</th>
						<td ng-repeat="o in outlet">{{ o.currentDemand*1000 |
							number:2}} watts <i
							ng-class="o.zOutlet.increasedDemand ? 'fa-arrow-up' : 'fa-arrow-down'"
							class="fa" aria-hidden="true"></i>
						</td>
					</tr>
					<tr>
						<th>Today's Cost up to now</th>
						<td ng-repeat="o in outlet">&cent; {{ o.zOutlet.cost |
							number:2}}</td>
					</tr>
					<tr>
						<th>Yesterday's Cost</th>
						<td ng-repeat="o in outlet">&cent; {{ o.yesterDayCost |
							number:2}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<button data-toggle="collapse" data-target="#monitor">Toggle Test Area</button>

<div id="monitor" class="collapse">
<div style="background-color: burlywood; height: 100px">
	<h3>Smart Monitor Test Area</h3>
	<div>
		<div class="col-xs-4">
			<a title="Stacked View" href="javascript:void(0)"><span
				style="font-weight: 600; color: #205b93;"><input
					type="checkbox" value="" ng-model="loadFull" ng-click="fetchInitialUsageData()">Load
					Full Chart</span> </a><br> <a title="Stacked View"
				href="javascript:void(0)"><span
				style="font-weight: 600; color: #205b93;"><input
					type="checkbox" value="" ng-model="online" ng-click="fetchInitialUsageData()">
					Online</span> </a> 
		</div>
		<div class="col-xs-3">
			<!-- <span>Smart Monitor Device Selector</span> <select name="device"
				ng-model="deviceCount" ng-change="fetchInitialUsageData()">
				<option value="3" selected>3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select><br> -->
		</div>

		<div class="col-xs-2">
		
			<input type="checkbox" value="" ng-model="criticalZone"
					ng-click="init()"><span>CPP check</span>
			<input type="checkbox" value="" ng-disabled="!criticalZone"
						ng-model="cppTime" ng-click="fetchInitialUsageData()"> CPP Start Time(hour)
			<div>
			<div class="input-group number-spinner col-xs-6">
						<select ng-model="criticalStartTime.hours"
							ng-change="changeCppTime()"
							ng-disabled="!criticalZone || !cppTime">
							<option ng-repeat="x in cppDropdown" value="{{x.value}}">{{x.name}}</option>
						</select>
			</div>
			<div class="col-xs-6">
			Duration (hour)<input type="text" class="form-control text-center"
							ng-model="cppDuration" ng-disabled="!criticalZone || !cppTime">
					<input style="width: 50%" type="button"
						value="Apply(Replot)" ng-click="fetchInitialUsageData()" />
					</div>
		</div>
		</div>

		<div class="col-xs-3">
			<a title="Stacked View" href="javascript:void(0)"
				style="position: relative; left: -10px;"><span
				style="font-weight: 600; color: #205b93;"><input
					type="checkbox" value="" ng-model="stacked" ng-click="fetchInitialUsageData()">Stacked
					View</span> </a>
		</div>
	</div>
</div>
</div>
